rest-soap-web/src/main/resources/META-INF/xsd/item.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
        targetNamespace="http://localhost:8080/rest-soap-web/soap" 
        xmlns:tns="http://localhost:8080/rest-soap-web/soap" 
        elementFormDefault="qualified">

    <xs:element name="GetItemRequest" xmlns="http://localhost:8080/rest-soap-web/soap">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetItemResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="price" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>